{% extends 'base.html' %}

{% block title %}
{{ super() }} -
Users list
{% endblock %}

{% block body %}
<div class="row pt-md-4">
    {% for user in users %}
    <div class="col-md-12">
        <div class="blog-entry ftco-animate d-md-flex">
            <a href="{{ url_for('users.users_detail' , pk=user.id) }}" class="img img-2"
               style="background-image: url({{user.photo}});"></a>
            <div class="text text-2 pl-md-4">
                <h3 class="mb-2"><a href="{{ url_for('users.users_detail' , pk=user.id) }}">{{user.name}}</a>
                </h3>
                <div class="meta-wrap">
                    <p class="meta">
                        <span><i class="icon-calendar mr-2"></i>Since {{user.created_at}}</span>
                        <span><i class="icon-comment2 mr-2"></i>{{user.comments_count}} comments made</span>
                    </p>
                </div>
                <p><a href="{{ url_for('users.users_detail' , pk=user.id) }}" class="btn-custom">More about {{user.name}}<span
                        class="ion-ios-arrow-forward"></span></a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}